@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@800&display=swap');

:root{
    --color01: #2b2b2b;
    --color02: #353634;
    --color03: #e6324b;
    --font01: 'Sono', sans-serif;;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--font01);
    font-size: 1.3em;
}
#seta-volver{
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    width: 3%;
}
header #logo{
    width: 20%;
}
.navbar logo{
    width: 5%;
}
.navbar{
    background-color: var(--color02);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 15vh; 
    padding: 30px;
    align-items: center;
}

#name-title{
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: pisca normal infinite .8s, escrever normal 3s steps(55) both;
}

@keyframes pisca{
    100%{
        border-right-color: transparent;
    }
}
@keyframes escrever{
    100%{
        max-width: 40%;
    }
}

a{
    text-decoration: none;
    flex-wrap: nowrap;
    
   
}

li{
    list-style: none;
    flex-wrap: nowrap;
    padding-top: 9%;
}
header a:hover{
    border-bottom: 1px solid var(--color03);
}

.nav-links a {
    color: white;
}
.logo{
    width: 45%;
}
.menu{
    display: flex;;
    font-size: 18px;
    gap: 3em;
}

input[type=checkbox]{
    display: none;
}
.hamburguer{
    display: none;
    font-size: 24px;
    color: var(--color03);
    user-select: none;
}

.section--um{
    height: 75vh;
    padding: 10px; 
    background-color: var(--color02);
    color: white; 
    padding-top: 5%;
   
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 10%;  
    justify-content: center;align-items: center;
 }
   
#dev{
    color: var(--color03);
}  
#programacao{
    margin-top: 11%;
    width:80%;    
}
.section--dois{
    height: 80vh;
    padding: 10px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sobre--mim{
    margin-left: 10%;
    margin-right: 10%;
}
.sobre--mim > h1{
    margin-bottom: 5%;
}
.sobre--mim > p{
    margin-bottom: 7%;
    text-align: justify;
}
#me{
    width: 15%;
    border: 2px solid #353634;
    margin-right: 10%;
    box-shadow:  5px 5px var(--color03);
}
#curriculo{
    text-decoration: none;
    color: white;
    border: 2px solid var(--color03);
    padding: 10px;
    background-color: #e6324b;
    border-radius: 20px;
    opacity: 0.5;
}
#curriculo:hover{
    opacity: 1;
}
.section--tres{
    background-color: var(--color02);
    color: white;
    text-align: center;
    height: 90vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.section--tres > h1{
    margin-top: 5%;
    margin-bottom: 7%;
}
.card{
    width: 30%;
    padding: 10px;
    flex-wrap: wrap;
}
#html,
#css,
#js,
#boot{
    
    
    cursor: pointer;
    transition: all 0.5s;
    
    
}
.skills{
  display: flex;
  padding: 0%;
  justify-content: space-between;
  gap: 3%;
  
}
.card-text{
    color: white;
    border: 2px solid transparent;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    background-color: var(--color03);
    border-radius: 20px;
    opacity: 
    0.5;
}
#imghtml{
width: 50%;
}
#imgcss{
    width: 53%;
}
#imgjs{
   width: 53.5%;
}
#imgboot{
    width: 62%;
}



#html:hover{
    -webkit-transform: scale(1.5);
    transform: scale(.5);
}
#css:hover{
    -webkit-transform: scale(1.5);
    transform: scale(.5);
}
#js:hover{
    -webkit-transform: scale(1.5);
    transform: scale(.5);
}

#boot:hover{
    -webkit-transform: scale(1.5);
    transform: scale(.5);
}
.projetos{
    height: 150vh;
    background-color: var(--color01);
}
.card--projetos{
    display: flex;

    /* novas mexiadas */
    flex-wrap: wrap;
    /* fim das novas mexidas */

    gap: 70px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

}







.projetos > .paragrafo{
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
}
.card-pj{
    padding: 10px;
    border-radius: 20px;
}

.card-text-pj{
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0.5;
}
.card-text-pj:hover{
   color: var(--color03);
   opacity: 1;
}
.card-img-top-pj{
    box-shadow: 2px 2px 2px white;
    border-radius: 20px;
}
a{
    text-decoration: none;
}







.contate--me{
    display: flex;
    flex-direction: column;
    background-color: #353634;
}

.box-form{
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    text-align: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5%;
}

.contate--me > .paragrafo{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
    color: white;
    
   
}
#contact{
    border: 2px solid var(--color03);
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color03);
  
}
#texto{
    border-radius: 10px;
}
input{
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
button{
    width: 50%;
    border-radius: 20px;
    padding: 5px;
    margin: center;
    display: flex;
   margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color03);
    background-color: var(--color03);
    color: white;
    cursor: pointer;
    opacity: 0.5;
    margin-top: 2px;
}
button:hover{
    opacity: 1;
}
.redes{
    text-align: center;
    margin-top: 5%;
   

}
.redes{
    width: 30%;
    margin: auto;
    padding: 20px 0;
}
#link,
#git,
#insta{
    margin-bottom: 5%;
    width: 5%;
    transition: all 0.5s;
    cursor: pointer;
    
}
#link:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#git:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#insta:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#primeira--imagem{
    width: 70%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2b2b;
    height: 10vh;
    padding: 10px;
}
footer > p{
    color: white;
    margin-top: 5%;
    font-size: 0.8em;
}
#logo{
    width:30%;
    

}


 @media screen and (max-width: 768px) {
    .navbar #logo{
        width: 35%;
    }
    .programacao{
        display: none;
    }
    .container{
       margin-top: 20%;
    
    }
       
        #contact{
            background-color: var(--color02);
            border: none;
            padding: 0;
        }
                #contact:hover{
                    border-radius: 0.1px;
                        border-bottom: 2px solid var(--color03);
                }

        .sobre--mim {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
       
        .section--tres{
            max-height: 50vh;
        }        
        .skills{
            display: flex;
            flex-wrap: wrap;

        }
       
        .card-text{
            font-size: 0.5em;
            border: none;
            background-color: transparent;
            text-align: center;
            border-bottom: 2px solid var(--color03);
            border-radius: 0;
            padding: 10px;
        }
        .card--projetos{
            display: flex;
            flex-wrap: wrap;
            color: var(--color03);
            padding-top: 20%;
            
        }
        .card-img-top-pj{
            display: none;
        }
    
        .card-text-pj{
            background-color: var(--color03);
            border: 2px solid transparent;
            border-radius: 20px;
            font-size: 0.7rem;
            
        }
        .direitos{
            font-size: 8px;
            
        }
        .box-form{
            font-size: 15px;
        }
       
      .me{
        display: none;
      }
      .btn-contato{
        font-size: 0.8em;
      }
      .redes{
        width: 70%;
      }
      .menu{
        position: absolute;
        right: 0;
        left: 0;
        align-items: center;
        text-align: center;
        padding: 2px;
        font-size: 0.7em;
        background-color: rgba(129, 106, 106, 0.175);
        display: none;
        justify-content: end;
        padding-bottom: 2rem;
        justify-content: space-between;
    }
    .menu li{
        display: inline-block;
        transition: 0.3s ease;
    }
    .hamburguer{
        display: block;
        cursor: pointer;
        
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    #contact{
        background-color: rgba(255, 255, 255, 0.067);;
    }
    footer #logo{
        width: 20%;
    }
    }
  
 
    
